<fieldset class="form-section tip-section">
  <legend for="tip">Select Tip %</legend>

  <div
    class="select-tip"
    *ngFor="let tip of tips"
    [ngClass]="{ selected: tipValue === tip }"
  >
    <input
      type="radio"
      name="tip"
      id="tip-{{ tip }}"
      value="{{ tip }}"
      (change)="onItemChange(tip)"
    />
    <label for="{{ tip }}">{{ tip }}%</label>
  </div>

  <input
    type="number"
    name="tip"
    id="tip-custom"
    placeholder="Custom"
    class="custom-tip"
    [(ngModel)]="tipValueCustom"
    (blur)="updateInputValue()"
    (focus)="unselectTipOptions()"
  />
</fieldset>
