.content-container {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  border-radius: 1.5rem 1.5rem 0 0;

  min-width: 320px;
}

.content-section {
  border-radius: 1.3rem;
  margin: 2.5rem 2.5rem 2rem;
}

.dark-content-bg {
  margin: 0 2.5rem 2.5rem;
  background-color: var(--very-dark-cyan);
  padding: 2.3rem;
}

@media (min-width: 560px) {
  .content-container {
    border-radius: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .content-container {
    flex-direction: row;
    justify-content: space-between;

    padding: 2rem;
  }

  .content-section {
    margin: 3rem;
    height: 400px;
    width: 500px;
  }

  .dark-content-bg {
    margin: 2.5rem 2.5rem 1rem 0;
    background-color: var(--very-dark-cyan);
    padding: 2.3rem;
  }
}
